div {
    padding: 50px;
    margin: 10px;
}

.borda{
    border: 10px dashed black;
}

#bloco1{
    background-color: blue;
}

#bloco2{
    background-image: url(img/ladrao.jpg); 
    background-repeat: repeat;
}

#bloco3{
    background-image: url(img/ladrao.jpg); 
    background-position: center;
    background-repeat: no-repeat;
}

#bloco4{
    background-image: url(img/ladrao.jpg); 
    background-size: cover;
    
}

#bloco5{
    background-image: url(img/ladrao.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#bloco6{
    background-image: url(img/ladrao.jpg); 
    background-repeat: no-repeat;
    background-origin: padding-box;
}

#bloco7{
    background-image: url(img/ladrao.jpg); 
    background-repeat: no-repeat;
    background-origin: border-box;
}

#bloco8{
    background-image: url(img/ladrao.jpg); 
    background-repeat: no-repeat;
    background-origin: content-box;
}

#bloco9{
    background-image: url(img/ladrao.jpg); 
    background-repeat: no-repeat;
    background-clip: padding-box;
    
}

#bloco10{
    background-image: url(img/ladrao.jpg); 
    background-repeat: no-repeat;
    background-clip: border-box;
}

#bloco11{
    background-image: url(img/ladrao.jpg); 
    background-repeat: no-repeat;
    background-clip: content-box;
}

#bloco12{
    background-image: url(img/ladrao.jpg); position: fixed; width: 20px;
}
